body{
    margin: 0;
}
.container{
    display: block;
    width: 100%;
}

.inner-container{
    display: flex;
    align-items: stretch;   
}
.side-container {
    height: 100vh;
    box-shadow: 0px 0px 13px 0px #aaa;
    flex-grow: 0;
    position: relative;
}

.inner-side-container .fa{
    font-size: 30px;
}

.row{
    display: flex;
    width: 100%;
}

.col-100{
    width: 100%;
}

.menu-item{
    text-align: center;
    padding: 15px;
    position: relative;
    color: #666;
    box-shadow: 0 0 5px 1px #eee;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo .menu-item{
    color: #000;
}
.active .menu-item{
    background: #d4e5ff;
    color: #000;
}
.active .menu-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #3f51b5;
}
.menu-text{
    display: block;
}
.content-container{
    height: 100vh;
    background: #f3f4f6;
    flex-grow: 1;
}
.blank{
    background: #fff;
    min-height: 70px;
    padding: 15px;
}

.title-video{
    padding: 35px;
    color: #666;
}

.col-20{
    width: 20%;
}
.col-80{
    width: 80%;
}

input{
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.or{
    text-align: center;
    padding: 25px;
}

.upload{
    display: flex;
    width: 185px;
    background: #fff;
    height: 185px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}